wsdl/BSGSW01_Consultar_Discapacidad.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.salud.gob.ec/WebServiceSnapDiscapacidades" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="WebServiceSnapDiscapacidadesDefinitions" targetNamespace="http://www.salud.gob.ec/WebServiceSnapDiscapacidades">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.salud.gob.ec/WebServiceSnapDiscapacidades" targetNamespace="http://www.salud.gob.ec/WebServiceSnapDiscapacidades" version="1.0">
<xs:element name="BuscarPersonaConDiscapacidadError" type="tns:WebServiceSnapDiscapacidadesFault"/>
<xs:element name="BuscarPersonaConDiscapacidadResponse" type="tns:ResultadoDiscapacitado"/>
<xs:element name="Credenciales" type="tns:Credenciales"/>
<xs:element name="DatosAcceso" type="tns:ParametrosAcceso"/>
<xs:element name="ProbarConexionError" type="tns:WebServiceSnapDiscapacidadesFault"/>
<xs:element name="ProbarConexionResponse" type="tns:ResultadoProbarConexion"/>
<xs:complexType name="Credenciales">
<xs:sequence>
<xs:element minOccurs="0" name="Usuario" type="xs:string"/>
<xs:element minOccurs="0" name="Clave" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ResultadoProbarConexion">
<xs:sequence>
<xs:element minOccurs="0" name="Success" type="xs:boolean"/>
<xs:element minOccurs="0" name="Message" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="WebServiceSnapDiscapacidadesFault">
<xs:all>
<xs:element minOccurs="0" name="CodigoError" type="xs:string"/>
<xs:element minOccurs="0" name="DescripcionError" type="xs:string"/>
</xs:all>
</xs:complexType>
<xs:complexType name="ParametrosAcceso">
<xs:sequence>
<xs:element minOccurs="0" name="Identificacion" type="xs:string"/>
<xs:element minOccurs="0" name="Usuario" type="xs:string"/>
<xs:element minOccurs="0" name="Clave" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ResultadoDiscapacitado">
<xs:sequence>
<xs:element minOccurs="0" name="ResultadoConexion" type="xs:string"/>
<xs:element minOccurs="0" name="CodigoConadis" type="xs:string"/>
<xs:element minOccurs="0" name="Nombres" type="xs:string"/>
<xs:element minOccurs="0" name="Apellidos" type="xs:string"/>
<xs:element minOccurs="0" name="Genero" type="xs:string"/>
<xs:element minOccurs="0" name="FechaNacimiento" type="xs:string"/>
<xs:element minOccurs="0" name="DeficienciaPredomina" type="xs:string"/>
<xs:element minOccurs="0" name="GradoDiscapacidad" type="xs:string"/>
<xs:element minOccurs="0" name="PorcentajeDiscapacidad" type="xs:string"/>
<xs:element minOccurs="0" name="NivelInstruccion" type="xs:string"/>
<xs:element minOccurs="0" name="Provincia" type="xs:string"/>
<xs:element minOccurs="0" name="Canton" type="xs:string"/>
<xs:element minOccurs="0" name="Parroquia" type="xs:string"/>
<xs:element minOccurs="0" name="Direccion" type="xs:string"/>
<xs:element minOccurs="0" name="DireccionReferencia" type="xs:string"/>
<xs:element minOccurs="0" name="TlfCelular" type="xs:string"/>
<xs:element minOccurs="0" name="FechaConadis" type="xs:string"/>
<xs:element minOccurs="0" name="Mensaje" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="BuscarPersonaConDiscapacidadError">
    <wsdl:part element="tns:BuscarPersonaConDiscapacidadError" name="BuscarPersonaConDiscapacidadError">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="BuscarPersonaConDiscapacidadResponse">
    <wsdl:part element="tns:BuscarPersonaConDiscapacidadResponse" name="Return">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ProbarConexionError">
    <wsdl:part element="tns:ProbarConexionError" name="ProbarConexionError">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ProbarConexion">
    <wsdl:part element="tns:Credenciales" name="Credenciales">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="BuscarPersonaConDiscapacidad">
    <wsdl:part element="tns:DatosAcceso" name="DatosAcceso">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ProbarConexionResponse">
    <wsdl:part element="tns:ProbarConexionResponse" name="Return">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="WebServiceSnapDiscapacidades">
    <wsdl:operation name="ProbarConexion">
      <wsdl:input message="tns:ProbarConexion" name="ProbarConexion">
    </wsdl:input>
      <wsdl:output message="tns:ProbarConexionResponse" name="ProbarConexionResponse">
    </wsdl:output>
      <wsdl:fault message="tns:ProbarConexionError" name="ProbarConexionError">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="BuscarPersonaConDiscapacidad">
      <wsdl:input message="tns:BuscarPersonaConDiscapacidad" name="BuscarPersonaConDiscapacidad">
    </wsdl:input>
      <wsdl:output message="tns:BuscarPersonaConDiscapacidadResponse" name="BuscarPersonaConDiscapacidadResponse">
    </wsdl:output>
      <wsdl:fault message="tns:BuscarPersonaConDiscapacidadError" name="BuscarPersonaConDiscapacidadError">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSnapDiscapacidadesDefinitionsSoapBinding" type="tns:WebServiceSnapDiscapacidades">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ProbarConexion">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="ProbarConexion">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="ProbarConexionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ProbarConexionError">
        <soap:fault name="ProbarConexionError" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="BuscarPersonaConDiscapacidad">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="BuscarPersonaConDiscapacidad">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="BuscarPersonaConDiscapacidadResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="BuscarPersonaConDiscapacidadError">
        <soap:fault name="BuscarPersonaConDiscapacidadError" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceSnapDiscapacidadesDefinitions">
    <wsdl:port binding="tns:WebServiceSnapDiscapacidadesDefinitionsSoapBinding" name="WebServiceSnapDiscapacidadesPort">
      <soap:address location="https://www.bsg.gob.ec/sw/MSP/BSGSW01_Consultar_Discapacidad"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>